:root {
    --main-font:'Playfair Display', serif;
    --second-font: 'Montserrat', sans-serif;
}

.blog-post {
    padding:50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: var(--main-font);
    padding-top:80px;
    padding:50px;
}

p,li {
font-family: var(--second-font);
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}

li {
    margin:20px;
}
